.cor-1{
    fill:none;
    stroke:#f05a22;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px
}

.cor-2{
    fill:none;
    stroke:#f05a22;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px
}

.cor-3{
    fill:none;
    stroke:#f05a22;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px
} 

.cls-2{
    fill:#fff
}

