.footer {
  background-color: #f7f7f7;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--vng-primary);
}

#footer-vng {
  width: 166px;
}

footer .scroll-btn {
  position: absolute;
  top: -25px;
  right: calc((100vw - 1200px) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: bouncing .5s linear infinite;
  animation-fill-mode: both;
}

@media screen and (max-width: 768px) {
  #footer-vng {
    width: 55px;
  }
}
