:root {
  --vng-navbar: #4d4d4d;
  --vng-primary: #e65a26;
  --vng-secondary: #eb5a26;
  --vng-third: #ed7c2b;
  --vng-text: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul,
p {
  margin: 0;
  padding: 0;
}
