@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

// Create your own map
$custom-colors: (
  'vng-navbar': #4d4d4d,
  'vng-primary': #e65a26,
  'vng-secondary': #eb5a26,
  'vng-third': #ed7c2b,
  'vng-text': #808080,
  'vng-text-bold': #4d4d4d,
  'vng-text-user': #141415,
  'vng-news-list': #BDBDBDBD,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/utilities';

$utilities: map-merge(
  $utilities,
  (
    'color': map-merge(
        map-get($utilities, 'color'),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'position': map-merge(
        map-get($utilities, 'position'),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'width': map-merge(
        map-get($utilities, 'width'),
        (
          responsive: true,
          values: map-merge(
            map-get(map-get($utilities, "width"), "values"),
            (
              10: 10%,
              20: 20%,
              30: 30%,
              40: 40%,
              50: 50%,
              60: 60%,
              70: 70%,
            ),
          ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'height': map-merge(
        map-get($utilities, 'height'),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'align-items': map-merge(
        map-get($utilities, 'align-items'),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'font-size': map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'font-weight': map-merge(
        map-get($utilities, 'font-weight'),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'justify-content': map-merge(
        map-get($utilities, 'justify-content'),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'rounded': map-merge(
        map-get($utilities, 'rounded'),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'start': map-merge(
        map-get($utilities, 'start'),
        (
          responsive: true,
          values: map-merge(
            map-get(map-get($utilities, "start"), "values"),
            (
              10: 10%,
              20: 20%,
              30: 30%,
              40: 40%,
              50: 50%,
              60: 60%,
              70: 70%,
            ),
          ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'top': map-merge(
        map-get($utilities, 'top'),
        (
          responsive: true,
          values: map-merge(
            map-get(map-get($utilities, "top"), "values"),
            (
              10px: 10px,
              10: 10%,
              20: 20%,
              30: 30%,
              40: 40%,
              50: 50%,
              60: 60%,
              70: 70%,
            ),
          ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'max-width': map-merge(
        map-get($utilities, 'max-width'),
        (
          responsive: true,
          values: map-merge(
            map-get(map-get($utilities, "max-width"), "values"),
            (
              10: 10%,
              20: 20%,
              30: 30%,
              40: 40%,
              50: 50%,
              60: 60%,
              70: 70%,
            ),
          ),
        )
      ),
  )
);

@import '../node_modules/bootstrap/scss/utilities/api';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
